*{
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
    font-family: 'Dancing Script', sans-serif;
    background: url(images/photo-1614624532983-4ce03382d63d.avif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
  
}
h1{
    width: 100%;
    font-size: 2.5em;
    color: black;
    animation: pulse 5s infinite;
}

button {
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 40px;
    background-color: rgb(224, 81, 81);
    transition: width 1s ease-in-out;

}
button:hover{
    width: 220px;
    box-shadow:  3px 3px 5px 6px rgb(219, 131, 131); ;
}
a{
    text-decoration: none;
    color:black ;
    font-size: 1.5em;
    transition: background-color 2s;

}
a:hover{
    color: aliceblue;

    
    
}
/* .style-two {
    width: 100px;
    height: 1px;
} */